<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>Integritetsbyrån, 2023. <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> om inget annat anges.<br>Integritetspolicy: Inga kakor, ingen spårning. Vad förväntade du dig?</p>
    </section>
</section>
